body {
  scroll-behavior: smooth;
}
.hero {
  min-height: 70vh;
  display: flex;
  align-items: center;
  color: white;
}
.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding: 80px 0;
}
.project-img {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
